<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>勤怠登録</title>
  </head>
  <body>
    <div class="header">
      <h2>勤怠登録</h2>
    </div><br/>

    <div th:if="${errorMessageForm}" class="alert alert-error alert-dismissible fade show" role="alert">
      <strong th:text="${errorMessageForm}"></strong>
    </div>

    <div class="main-contents-attendance" th:object="${formModel}">
      <form th:method="post" th:action="@{/attendance/add}" th:object="${attendanceInfo}">

        <!--<label>日付選択
          <input type="date" name="date" th:field="*{date}"/><br/>
        </label>-->
        <table border="1" style="border-collapse: collapse;">
          <thead>
          <tr>
            <th>日付</th>
            <th>出勤</th>
            <th>退勤</th>
            <th>休憩開始</th>
            <th>休憩終了</th>
            <th>メモ</th>
          </tr>
          </thead>
          <tbody>
          <!-- 入力欄の行 -->
          <tr>
            <td><input type="date" th:field="*{date}" readonly /></td>
            <td><input type="text" th:field="*{attendance}" placeholder="例)09:00" /></td>
            <td><input type="text" th:field="*{leave}" placeholder="例)18:00" /></td>
            <td><input type="text" th:field="*{restStart}" placeholder="例)12:00" /></td>
            <td><input type="text" th:field="*{restEnd}" placeholder="例)13:00" /></td>
            <td><input type="text" th:field="*{comment}" placeholder="備考" /></td>
          </tr>

          <!-- エラー表示の行 -->
          <tr>
            <td>
              <div th:if="${#fields.hasErrors('date')}" th:errors="*{date}" style="color:red;" class= "errors"></div>
            </td>
            <td>
              <div th:if="${#fields.hasErrors('attendance')}" th:errors="*{attendance}" style="color:red;" class= "errors"></div>
            </td>
            <td>
              <div th:if="${#fields.hasErrors('leave')}" th:errors="*{leave}" style="color:red;" class= "errors"></div>
            </td>
            <td>
              <div th:if="${#fields.hasErrors('restStart')}" th:errors="*{restStart}" style="color:red;" class= "errors"></div>
            </td>
            <td>
              <div th:if="${#fields.hasErrors('restEnd')}" th:errors="*{restEnd}" style="color:red;" class= "errors"></div>
            </td>
            <td>
              <div th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}" style="color:red;" class= "errors"></div>
            </td>
          </tr>
          </tbody>
        </table>

        <input type="hidden" name="Year" th:value="${Year}"/>
        <input type="hidden" name="Month" th:value="${Month}"/>
        <input type="submit" value="登録" class="message-button1"/>

      </form>
      <form th:action="@{/home}">
        <input type="submit" value="戻る" class="message-button2"/>
        <!---->
      </form>
      <div class="emoji-turtle2">🐢</div> <div class="emoji-turtle">🐢</div>


    </div>
  </body>
</html>