<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>勤怠管理</title>
</head>
<body>

    <div class="header-contents">
        <h1>ユーザー ID: <span th:text="${userId != null ? userId : '未指定'}"></span> の月間勤怠情報</h1>
        <div th:if="${attendances.isEmpty()}">
            <p>現在、勤怠情報はありません。</p>
        </div>
        <div th:if="${not attendances.isEmpty()}">
            <table>
                <thead>
                <tr>
                    <th>日付</th>
                    <th>出勤</th>
                    <th>退勤</th>
                    <th>メモ</th>
                    <th>労働時間</th>
                    <th>編集</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="attendance : ${attendances}">
                    <tr>
                        <td th:text="${attendance.attendance}"></td>
                        <td th:text="${attendance.leave}"></td>
                        <td th:text="${attendance.comment}"></td>
                        <td th:text="${attendance.state}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
    <div class="button-rightTop">
        <form th:action="@{/logout}">
            <button type="submit">ログアウト</button>
        </form>
        <form th:action="@{/management}" th:method="get">
            <button type="submit">ユーザー管理</button>
        </form>
        <form th:action="@{/signup}">
            <button type="submit">ユーザー登録画面</button>
        </form>
        <form th:action="@{/signup}">
            <button type="submit">勤怠登録画面</button>
        </form>
    </div>
</div>
</body>
</html>