<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>勤怠管理</title>
</head>
<body>

<header>
    <h1>勤怠管理</h1>
    <p>本日: <span th:text="${#dates.format(#dates.createNow(), 'yyyy/MM/dd HH:mm:ss')}"></span></p>
</header>

<div class="button-rightTop">
    <form th:action="@{/logout}">
        <button type="submit">ログアウト</button>
    </form>

    <form th:action="@{/system}" th:method="get" th:object="${user}">
        <!--              th:if="${session.user.branchId == 1 and session.user.departmentId == 1}">-->
        <button type="submit">ユーザー管理</button>
    </form>

    <form th:action="@{/attendance}">
        <button type="submit">勤怠登録</button>
    </form>

</div>

<p>2025年7月</p>
    <button onclick="onClickMonth(-1)">前月</button>
    <button onclick="onClickMonth(1)">次月</button>

<table >
    <thead>
    <tr>
        <th>日付</th>
        <th>出社</th>
        <th>退社</th>
        <th>メモ</th>
        <th>労働時間</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${attendances}" th:if="${row != null}">
        <form th:action="@{/attendanceedit}" th:object="${formModel}" th:method="post">
        <td th:text="${row.attendance != null ? #temporals.format(row.attendance, 'M/dd') : '-'}"></td>
        <td th:text="${row.attendance != null ? #temporals.format(row.attendance, 'HH:mm') : '-'}"></td>
        <td th:text="${row.leave != null       ? #temporals.format(row.leave, 'HH:mm')      : '-'}"></td>
        <td th:text="${row.comment}"></td>
<!--        ${T(java.time.Duration).between(row.attendance, row.leave).minusHours(1).toHoursPart()}-->
        <td th:text="|${#numbers.formatInteger(T(java.time.Duration).between(row.attendance, row.leave).minusHours(1).toHoursPart(),2)} :
        ${#numbers.formatInteger(T(java.time.Duration).between(row.attendance, row.leave).minusHours(1).toMinutesPart(),2)}|"></td>
            <td class="button-signup">
                <input type="submit" class="submit-btn2" value="編集"/>
            </td>
        </form>
    </tr>
    </tbody>
</table>

<button onclick="setSubmit()">送信</button>


</body>
</html>