<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>ログイン画面</title>
</head>
<body>
<!--エラーメッセージリストが送られてきたときに表示-->
<th:block th:if="${errorMessages != null && !errorMessages.isEmpty()}">
    <div th:each="errorMessage:${errorMessages}">
        <span th:text="${errorMessage}" style="color:red"></span>
    </div>
</th:block>
</div>
<div class="blackboard">
    <div class="main-contents1">
    <div th:if="${errorMessageForm}" class="alert alert-error alert-dismissible fade show" role="alert">
        <strong th:text="${errorMessageForm}" style="color: red;"></strong>
    </div>
    <!--  ログイン情報をコントローラーに渡す-->
    <form th:method="post" th:action="@{/login}" th:object="${userForm}">
        <div class="form-area">
            <label>アカウント</label>
            <!--      入力されたアカウント名をコントローラーに渡す-->
            <input type="text" name="account" th:field="*{account}" placeholder="アカウント名を入力">
            <div th:if="${#fields.hasErrors('account')}" style="color:red;" th:errors="*{account}"></div>
        </div>

        <div class="form-area">
            <label>パスワード</label>
            <!--      入力されたパスワードをコントローラーに渡す-->
            <input type="password" name="password" th:field="*{password}" placeholder="パスワードを入力">
            <div th:if="${#fields.hasErrors('password')}" style="color:red;" th:errors="*{password}"></div>
        </div>
        <input type="submit" value="ログイン" class="btn"/>
    </form>
</div>
</div>
</body>
</html>