<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/css/style.css}" rel="styleSheet">
        <title>申請詳細</title>
    </head>
    <body>
    <div class="header">
        <h1>申請詳細</h1>
    </div>
    <h2>申請者情報</h2>
        <p>
            役職 : <span th:text="${user.post.postName}"></span><br/>
            アカウント:　<span th:text="${user.account}"></span><br/>
            氏名 : <span th:text="${user.name}"></span>
        </p>
        <p>合計労働時間: <span th:text="${totalWorkingTime}">00:00</span></p>
        <form th:action="@{/request/return}" th:object="${attendanceList}" th:method="post">
            <table id="scheduleTable" class="list" border="1" style="border-collapse: collapse">
                <thead>
                <tr>
                    <th>日付</th>
                    <th>出勤</th>
                    <th>退勤</th>
                    <th>休憩開始</th>
                    <th>休憩終了</th>
                    <th>休憩時間</th>
                    <th>労働時間</th>
                    <th>メモ</th>
                    <th th:if="${session.loginUser.postId == 2}">NG</th>
                </tr>
                </thead>
                <tbody>

              <tr th:each="i, st: ${dataNumList}" align="center">
                <td th:text="${#numbers.formatInteger(month,2) + '/' + #numbers.formatInteger(st.count,2) + ' (' + days[dayNumList[st.index]] + ')'}"></td>
                  <div th:if="${i == 0}">
                      <td/><td/><td/><td/><td/><td/>
                      <td th:if="${session.loginUser.postId == 2}"/>
                  </div>

                  <div th:if="${i ge 1}">
                        <div th:each="row, stat : ${attendanceList.attendances}">
                          <div th:if="${#numbers.formatInteger(st.count,2) == #strings.substring(row.attendance, 8, 10)}">
                              <td th:text="${#strings.substring(row.attendance, 11, 16)}"></td>
                              <td th:text="${#strings.substring(row.leave, 11, 16)}"></td>
                              <td th:text="${#strings.substring(row.restStart, 11, 16)}"></td></td><!--休憩開始-->
                              <td th:text="${#strings.substring(row.restEnd, 11, 16)}"></td></td><!--休憩終了-->
                              <td th:text="${#temporals.format(row.totalRestTime, 'HH:mm')}"></td><!--休憩時間-->
                              <td th:text="${#temporals.format(row.totalWorkRestTime, 'HH:mm')}"></td>
                              <td th:text="${row.comment}" align="left"></td>
                              <td class="checkbox" th:if="${session.loginUser.postId == 2}">
                                  <input type="hidden" th:field="*{attendances[__${stat.index}__].id}"/>
                                  <input type="checkbox" th:field="*{attendances[__${stat.index}__].checkbox}"/>
                              </td>
                            </div>
                        </div>
                    </div>
              </tr>
              </tbody>
            </table>
            <input type="hidden" name="requestId" th:value="${requestId}"/>
            <button type="submit" onclick="return confirm('差戻してもよろしいでしょうか？')" class="delete-btn"
                    th:if="${session.loginUser.postId == 2 && session.loginUser.id != requestUserId}">差戻
            </button>
        </form>
        <form th:method="post" th:action="@{/request/update}">
            <input type="hidden" name="requestId" th:value="${requestId}"/>
            <button type="submit" onclick="return confirm('承認してもよろしいでしょうか？')" class="ok-btn"
                    th:if="${session.loginUser.postId == 2 && session.loginUser.id != requestUserId}">承認
            </button>
        </form>
        <form th:action="@{/request/myself/delete}" th:method="post">
            <input type="hidden" name="requestId" th:value="${requestId}"/>
            <button type="submit" th:if="${session.loginUser.id == requestUserId && requestStatus == 1}"
                    onclick="return confirm('取消しますか？');" class="delete-btn">取消
            </button>
        </form>
        <form th:action="@{/request/list}" th:method="get">
            <div>
                <button type="submit" class="btn" th:if="${session.loginUser.postId == 2}">戻る</button>
            </div>
        </form>
        <form th:action="@{/request/myself/{id}(id=${session.loginUser.id})}" th:method="get">
            <div>
                <button type="submit" class="btn"
                        th:if="${session.loginUser.id == requestUserId && session.loginUser.postId != 2}">戻る
                </button>
            </div>
        </form>
    </body>
</html>