<!DOCTYPE html>
  <html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="UTF-8">
    　
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>承認済申請一覧</title>
  </head>
  <body>
  <div class="header">
    <h1>承認済申請一覧</h1>
  </div>

  <table id="scheduleTable" class="list" border="1" style="border-collapse: collapse">
    <thead>
    <tr>
      <th width="10%">ID</th>
      <th width="20%">申請者</th>
      <th width="20%">期間(開始)</th>
      <th width="20%">期間(終了)</th>
      <th width="20%">ステータス</th>
      <th width="10%">詳細</th>
    </tr>
    </thead>
    <tbody>
    <div th:each="request : ${requests}">
      <div th:if="${request.state == 2}">
        <tr align="center">
          <td><span th:text="${request.id}"/>
          <td><span th:text="${request.user.name}"/>
          <td><span th:text="${request.startDate}"/>
          <td><span th:text="${request.endDate}"/>
          <td><span th:text="${statuses[request.state]}"/>
          <td>
            <form th:action="@{/request/approval/detail/id={id}(id=${request.id})}" th:method="get">
             <!-- <input type="hidden" name="id" th:value="${request.id}"> -->
              <button type="submit" class="btn">詳細</button>
            </form>
          </td>
        </tr>
      </div>
    </div>
    </tbody>
  </table>
  <form th:action="@{/home}" th:method="get">
    <div>
      <button type="submit" class="btn">戻る</button>
    </div>
    <div class="animal turtle">🐢</div>
    <div class="animal rabbit">🐇</div>
  </form>
  </body>
</html>